version: '3.8'

services:
  suljido-db:
    image: mysql:8.0
    container_name: suljido-mysql
    restart: always
    ports:
      # [주의] 로컬 SpringBoot에서는 'localhost:3406'으로 접속해야 해!
      - "3406:3306"
    environment:
      MYSQL_DATABASE: suljido
      MYSQL_USER: suljido_admin
      MYSQL_PASSWORD: tkdgns9957!
      MYSQL_ROOT_PASSWORD: root
      TZ: Asia/Seoul
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --default-authentication-plugin=mysql_native_password
    volumes:
      - ./db/data:/var/lib/mysql

  suljido-opensearch-node:
    image: opensearchproject/opensearch:latest
    container_name: suljido-opensearch-node
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - plugins.security.ssl.http.enabled=false
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m"
      # [수정] 대문자(T) 추가 필수! (규칙: 대문자+소문자+숫자+특수문자)
      - "OPENSEARCH_INITIAL_ADMIN_PASSWORD=Huns9957!"
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    ports:
      - "9200:9200"
      - "9600:9600"
    volumes:
      - suljido-opensearch-data:/usr/share/opensearch/data

  suljido-opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:latest
    container_name: suljido-opensearch-dashboards
    ports:
      - "5601:5601"
    environment:
      - 'OPENSEARCH_HOSTS=["http://suljido-opensearch-node:9200"]'
      - "DISABLE_SECURITY_DASHBOARDS_PLUGIN=false"
    depends_on:
      - suljido-opensearch-node

volumes:
  suljido-opensearch-data: